* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  margin-left: 300px;
}


#navbar {
  width: 300px;
  min-height: 100vh;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  #navbar {
    display: none;
  }
  body {
    margin-left: 0;
  }
}

nav header {
  background-color: #e4e4e4;
  border: 5px solid #cacaca;
  border-radius: 4px;
  text-align: center;
  margin: 8px;
}

nav a {
  background-color: #cacaca;
  margin: 0.3em;
  padding: 0.4em;
  color: black;
  text-decoration: none;
  transition: all ease 0.3s;
}

nav a:hover {
  background-color: white;
}

section header {
  text-align: center;
  background-color: #e4e4e4;
  padding: 1em;
  border: 5px solid #cacaca;
}

div.code {
  background-color: #c2c2c2;
  margin: 0.4em;
  padding: 0.2em;
  border: 0.2em solid #e4e4e4;
  border-radius: 0.4em;
}

div.indent {
  padding-left: 1em;
  background-color: inherit;
}

p, ul {
  padding: 1em 2em;
  text-indent: 1em;
}

span:not(.no-color) {
  color: brown;
  font-weight: bold;
}