body {
  background-color: #ee6600;
}
div {
  width: 80%;
  margin: 32px auto;
  background-color: #1b1b1b;
  padding: 8px;
  border: 10px solid #343434;
  border-radius: 8px;
}
.radio {
  display: inline;
}
label {
  display: block;
}
input, select, textarea {
  background-color: #000000;
  color: #ffffff;
  border: none;
  margin: 4px 0;
  display: block;
}
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin: 4px 5px;
}
legend, h1, label, p {
  color: #ffffff;
}
