* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #454578;
}

#container {
  background-color: #2378d3;
  border: 5px solid #00000022;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

#inputs {
  display: flex;
  gap: 2px;
}

#search-input {
  background-color: #45a2ff;
  border: none;
  min-height: 27px;
  padding: 0 5px;
  width: 120px;
}

#search-button {
  width: 130px;
  border: none;
  background-color: #45a2ff;
}

#search-button:hover {
  background-color: #75c5ff;
  cursor: pointer;
}

tr {
  background-color: #45a2ff;
}

td, th {
  padding: 5px;
  min-width: 120px;
}

#types {
  display: flex;
  width: 250px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  background-color: #45a2ff;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
  width: min-content;
}
