* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001133;
}

h1 {
  text-align: center;
  color: white;
  padding: 25px 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

input {
  height: 25px;
  background-color: #001133;
  border: 3px solid white;
  color: white;
}

button {
  padding: 5px;
  background-color: #001133;
  border: 3px solid white;
  color: white;
  border-radius: 10px;
}

button:hover {
  background-color: #002266;
  cursor: pointer;
}

p {
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

#result {
  color: white;
}
